.card {
  width: 100%;
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 57px -32px rgba(0, 0, 0, 0.75);
  color: #353535;
  font-size: 15px;
  cursor: pointer;
  transition: transform .2s ease;
}

.card:hover {
  transform: scale(.98);
}

.attributes {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  gap: 20px;
}

.attributes__userImg {
  width: 80px;
  height: 90px;
  border-radius: 35px;
}

figure {
  position: absolute;
  width: 10%;
  height: 5px;
  top: .3px;
  left: 22px;
  background-color: #aedfef;
  border-radius: 10px;
}